.breadcrumb-area {
  /* background-image: url("../Assets/claudio-testa--SO3JtE3gZo-unsplash.jpg");
  background-position: right; */
  width: auto;
  background-repeat: no-repeat;
  /* height: 260px; */
  background-size: cover;
  text-align: center;
  color: #fff;

  .breadcrumb-content {
    padding: 100px 50px;

    h1 {
      font-size: 60px !important;
      color: #032b71;
      /* color: #fff; */
      font-family: "Roboto", system-ui;
      font-weight: 700;
      font-style: normal;
    }

    span {
      & > span {
        display: inline-block;
        font-size: 15px;
        font-weight: 500;

        & > a {
          text-decoration: none;
          font-weight: 500;
          color: #c21f2d;

          &:hover {
            color: black;
          }
        }

        & > span {
          margin-right: 0;
          margin: 0 15px;
        }
      }
    }
  }
}

.breadcrumb-nav {
  background: #032b71;
  padding: 20px 0 20px;
  position: relative;
  text-align: center;
  color: #fff;

  span,
  a {
    color: #fff;
    text-decoration: none;
  }
}
